@tailwind base;
@tailwind components;
@tailwind utilities;


html { 
  scroll-behavior: smooth;
}

body { 
  margin: 0;
  padding: 0;
  font-family: 'Rubick', monospace;
}

.glow-on-hover {
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #b2a0ff, #2cceff, #0060b9, #9b29e7, #00ffd5, #002bff, #7a00ff, #ff00c8, #b2a0ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1B263E;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

::-webkit-scrollbar {
  width: 6px;
  background: #060709;
}

::-webkit-scrollbar-thumb {
  background: #00180f;
  border-radius: 100px;
}

::-webkit-scrollbar-corner {
  background: #000;
}

::selection {
  color: #5686f5;
  background: rgba(77, 98, 145, 0.7);
}

/* Add these classes to your tailwind.config.js */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas {
  font-family: "Bebas Neue", cursive;
}

.hover\:glow:hover {
  filter: drop-shadow(0px 0px 7px rgba(59, 130, 246, 0.5));
}

.group:hover .group-hover\:\-translate-y-1 {
  transform: translateY(-0.25rem);
}

.group:focus .group-focus\:pt-20 {
  padding-top: 5rem;
}

.animate-down {
  transform: translateY(250%) !important
}

.animate-up {
  transform: translateY(-250%) !important
}

.hidden {
  display: none;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 28rem;
  width: 56.23rem;
  border: 2px solid #0000;
  border-radius: 12px;
  background: linear-gradient(180deg,#141B2D, #141B2D) padding-box, linear-gradient(
        var(--angle),
        #00031A,
        #5686f5
      ) border-box;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Shadow of the LinkedIn contact */
.custom-text-shadow {
  text-shadow: #6c79b4 0 0 14px;
}

.custom-text-shadow:hover {
  text-shadow: none;
  transition: ease-in-out;
  transition-duration: 100ms;
}


.neon-glow {
  filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.4)) 
          drop-shadow(0 0 8px rgba(255, 0, 0, 0.4)) 
          drop-shadow(0 0 12px rgba(255, 0, 0, 0.2));
}
